

<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card border-primary mb-3">
      <div class="card-header " >
        TRAILERFLIX
      </div>
      <div class="card-body">
        <form (submit)="signIn()">
          <div class="form-floating mb-3">
            <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com"  required autofocus>
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
            <label for="floatingPassword">Password</label>
          </div>
          <button type="submit" class="btn btn-primary mt-3 container">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>



