<!-- JavaScript Bundle with Popper 
<div class="row">
  <app-search (search)="handleSearch($event)"> </app-search>

  <div
    class="col-md-3 p-4"
    *ngFor="let trailer of trailers | search: Filtro_valor"
  >
    <div
      class="card card-trailer border-primary mb-3"
      style="border-radius: 8px"
      (click)="selectedTrailer(trailer._id)"
    >
      <div class="card-header">
        <h3 class="text-primary">{{ trailer.name }}</h3>
      </div>
      <div class="card-body">
        <img
          style="border-radius: 8px;   height: 239px"
          [src]="
            trailer.image == ''
              ? 'https://cdn.dribbble.com/users/1761902/screenshots/8527483/media/9e88b2c1b2f4404045326469fbcc5a8b.gif'
              : trailer.image
          "
          class="card-img-top img"
        />
        <h4 class="text-info">Género: {{ trailer.category }}</h4>
        <span class="badge rounded-pill bg-primary">{{ trailer.year }}</span>
      </div>
    </div>
  </div>
</div>
-->

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/escudo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="200" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 style="font-size: 40px;" class="display-5 fw-bold lh-1 mb-3 h1">Bienvenido al Campus Virtual</h1>
      <p class="lead"></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"  [routerLink]="['/signin']"
        routerLinkActive="router-link-active">Acceder</button>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-primary rounded-3">
      <h2>inscripciones Disponibles</h2>
      <p>inscripciones Disponibles para el proximo año escolar, llene el proceso de solicitud. </p>
      <button class="btn btn-outline-light" type="button">ver inscripciones</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-primary rounded-3">
      <h2>Talleres Disponibles</h2>
      <p>Talleres Disponibles, llene el proceso de solicitud para poder inscripciones a los talleres. </p>
      <button class="btn btn-outline-light" type="button">ver Talleres</button>
    </div>
  </div>
</div>
<section style="margin-top: 30px;">
  
  <ul id="services">
    <h1 class="text-dark">Fancy Colorlib Social</h1>
    <li>
      <div class="facebook">
        <a href="https://facebook.com">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <span>Facebook</span>
    </li>
    <li>
      <div class="twitter">
        <a href="https://twitter.com">
          <i class="fa fa-twitter " aria-hidden="true"></i>
        </a>
      </div>
      <span>Twitter</span>
    </li>
    <li>
      <div class="youtube ">
        <a href="https://www.youtube.com">
          <i class="fa fa-youtube text-danger" aria-hidden="true"></i>
        </a>
      </div>
      <span>YouTube</span>
    </li>
    <li>
      <div class="instagram">
        <a href="https://www.linkedin.com/companyb">
          <i class="fa fa-instagram insta" aria-hidden="true"></i>
        </a>
      </div>
      <span>Instagram</span>
    </li>
  </ul>
</section>