<div class="row mb-5">
  <div class="col-4">
    <img
      [src]="trailer.image == '' ? '/assets/noimg.png' : trailer.image"
      style="border-radius: 8px; width: 274px !important; height: 365px"
      class="card-img-top"
    />
  </div>
  <div class="col-6">
    <h1>{{ trailer.name }}</h1>
    <p class="text-muted">Reseña: {{ trailer.description }}</p>
    <p class="text-muted">Director: {{ trailer.director }}</p>
    <p class="text-muted">Género: {{ trailer.category }}</p>
    <p class="text-muted">Actores: {{ trailer.actors }}</p>

    <span class="badge rounded-pill bg-primary">{{ trailer.year }}</span>
  </div>
</div>

<div class="card-body card card border-info mb-3">
  <iframe
    style="border-radius: 8px"
    width="1000 "
    height="600 "
    [src]="getVideoIframe(trailer.link)"
    title="YouTube video player "
    frameborder="0 "
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
    allowfullscreen
  ></iframe>
</div>
