<div style="margin-bottom: 40px;" class="titulocalificaciones">
  <p> Estudiantes </p>
</div>
<!-- <div class="card border-primary mb-3" style="max-width: 90rem;">
  <div class="card-header">Agregar estudiante</div>
  <div class="card-body">
    <div class="container">
      <form #studentForm="ngForm" (submit)="createStudent(studentForm)" action="/student/edit/{{student._id}}" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="studentService.selectedStudent._id || student._id">
            <label for="exampleInputEmail1" class="form-label mt-4">Nombre</label>
            <input type="text" class="form-control" name="_id" #_id="ngModel" [(ngModel)]="studentService.selectedStudent._id || student._id">
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Apellido</label>
            <input type="text" class="form-control" type="text" [(ngModel)]="studentService.selectedStudent.lastName || student.lastName" name="lastName" #name="ngModel" class="form-control" placeholder="Apellido"  required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="exampleInputEmail1" class="form-label mt-4">Genero</label>
          <select placeholder="Genero"id="student.gender" name="student.gender" [(ngModel)]="studentService.selectedStudent.gender || student.gender" class="form-select">
            <option value="" disabled selected>Género</option>
            <option value="Masculino" value="Masculino">Masculino</option>
            <option value="Femenino" value="Femenino">Femenino</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
            <input type="email" class="form-control"type="text" [(ngModel)]="studentService.selectedStudent.email || student.email" name="email" #name="ngModel" class="form-control" placeholder="Email"  required >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Madre</label>
            <input type="text" class="form-control" [(ngModel)]="studentService.selectedStudent.motherName || student.motherName" name="motherName"  #name="ngModel" class="form-control" placeholder="Madre" required >
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Padre</label>
            <input type="text" class="form-control" [(ngModel)]="studentService.selectedStudent.fatherName || student.fatherName" name="fatherName"  #name="ngModel" class="form-control" placeholder="Padre" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Fecha Nacimiento</label>
            <input type="date" class="form-control"  [(ngModel)]="studentService.selectedStudent.dob || student.dob" name="dob" #name="ngModel"class="form-control" placeholder="Año" required  min="1980" max="2023" step="1" value="1980" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Fecha Creacion</label>
            <input type="date" class="form-control"[(ngModel)]="studentService.selectedStudent.createdDate || student.createdDate" name="createdDate" #name="ngModel"class="form-control" placeholder="Año" required  min="1980" max="2023" step="1" value="1980" >
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Telefono</label>
            <input type="text" class="form-control"[(ngModel)]="studentService.selectedStudent.phoneNumber || student.phoneNumber" name="phoneNumber" #name="ngModel"class="form-control" placeholder="Telefono" required >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Direccion</label>
            <input type="text" class="form-control"[(ngModel)]="studentService.selectedStudent.address || student.address" name="address" #name="ngModel"class="form-control" placeholder="Direccion" required  >
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Codigo</label>
            <input type="text" class="form-control"[(ngModel)]="studentService.selectedStudent.code || student.code" name="code" #name="ngModel"class="form-control" placeholder="code" required >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">User ID</label>
            <input type="text" class="form-control"[(ngModel)]="studentService.selectedStudent.userId || student.userId" name="userId" #name="ngModel"class="form-control" placeholder="userId" required>
        </div>
        <div class="col-sm-6">
            <label for="exampleInputEmail1" class="form-label mt-4">Imagen</label>
            <input type="text" class="form-control"[(ngModel)]="studentService.selectedStudent.image || student.image" name="image" #name="ngModel" class="form-control" placeholder="Imagen" required  >
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="btn btn-primary mt-3 container "  routerLinkActive="router-link-active" >Guardar</button>
      </div>
      </div>
      </form>

  </div>
</div> -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar Estudiante
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar estudiante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #studentForm="ngForm" (submit)="createStudent(studentForm)"  action="/student/edit/{{student._id}}" method="POST">
          <div class="row">
           <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="studentService.selectedStudent._id || student._id">
           <div class="mb-3 col-sm-6" >
           <label for="floatingInput">Nombre</label>
           <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.name || student.name" name="name" #name="ngModel" class="form-control form-control-sm" placeholder="Titulo" required autofocus>
         </div>
         <div class="mb-3 col-sm-6">
           <label for="floatingInput">Apellido</label>
           <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.lastName || student.lastName" name="lastName" #name="ngModel" class="form-control form-control-sm" placeholder="Apellido"  required >
         </div>
          </div>
          <div class="row">
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Género</label>
             <select placeholder="Genero"id="student.gender" name="student.gender" [(ngModel)]="studentService.selectedStudent.gender || student.gender" class="form-select form-select-sm">
               <option value="" disabled selected>Género</option>
               <option value="Masculino" value="Masculino">Masculino</option>
               <option value="Femenino" value="Femenino">Femenino</option>
               </select>
           </div>
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Email</label>
             <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.email || student.email" name="email" #name="ngModel" class="form-control form-control-sm" placeholder="Email"  required >
           </div>
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Fecha Nacimiento</label>
             <input  id="floatingInput"  type="date" [(ngModel)]="studentService.selectedStudent.dob || student.dob" name="dob" #name="ngModel"class="form-control form-control-sm" placeholder="Año" required  min="1980" max="2023" step="1" value="1980"  >
           </div>
          </div>
          <div class="row">
           <div class="mb-3 col-sm-6">
             <label for="floatingInput">Madre</label>
             <input  id="floatingInput" [(ngModel)]="studentService.selectedStudent.motherName || student.motherName" name="motherName"  #name="ngModel" class="form-control form-control-sm" placeholder="Madre" required >
           </div>
           <div class="mb-3 col-sm-6">
             <label for="floatingInput">Padre</label>
             <input  id="floatingInput" [(ngModel)]="studentService.selectedStudent.fatherName || student.fatherName" name="fatherName"  #name="ngModel" class="form-control form-control-sm" placeholder="Padre" required >
           </div>
          </div>
         <div class="row">
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Telefono</label>
             <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.phoneNumber || student.phoneNumber" name="phoneNumber" #name="ngModel"class="form-control form-control-sm" placeholder="Telefono" required >
           </div>
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Direccion</label>
             <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.address || student.address" name="address" #name="ngModel"class="form-control form-control-sm" placeholder="Direccion" required >
           </div>
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Codigo</label>
             <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.code || student.code" name="code" #name="ngModel"class="form-control form-control-sm" placeholder="code" required >
           </div>
         </div>
         <div class="row">
           <div class=" mb-3 col-sm-4">
             <label for="floatingInput">Link</label>
             <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.userId || student.userId" name="userId" #name="ngModel"class="form-control form-control-sm" placeholder="userId" required >
           </div>
           <div class=" mb-3 col-sm-4">
             <label for="floatingInput">Imagen</label>
             <input id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.image || student.image" name="image" #name="ngModel" class="form-control form-control-sm" placeholder="Imagen" required >
           </div>
           <div class="mb-3 col-sm-4">
             <label for="floatingInput">Fecha Creacion</label>
             <input  id="floatingInput"  type="date" [(ngModel)]="studentService.selectedStudent.createdDate || student.createdDate" name="createdDate" #name="ngModel"class="form-control form-control-sm" placeholder="Año" required  min="1980" max="2023" step="1" value="1980"  >
           </div>
         </div>
           
         <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" routerLinkActive="router-link-active">Agregar</button>
        </div>
         </form>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
<!-- Aquí puedes escribir tu comentario 
<div class="row">
  <div class="mx-auto">
    <div class="card border-light mb-3">
      <div class="card-header">
        Agregar student
      </div>
      <div class="card-body">
        <form #studentForm="ngForm" (submit)="createStudent(studentForm)"  action="/student/edit/{{student._id}}" method="POST">
         <div class="row">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="studentService.selectedStudent._id || student._id">
          <div class="mb-3 col-sm-6" >
          <label for="floatingInput">Nombre</label>
          <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.name || student.name" name="name" #name="ngModel" class="form-control form-control-sm" placeholder="Titulo" required autofocus>
        </div>
        <div class="mb-3 col-sm-6">
          <label for="floatingInput">Apellido</label>
          <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.lastName || student.lastName" name="lastName" #name="ngModel" class="form-control form-control-sm" placeholder="Apellido"  required >
        </div>
         </div>
         <div class="row">
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Género</label>
            <select placeholder="Genero"id="student.gender" name="student.gender" [(ngModel)]="studentService.selectedStudent.gender || student.gender" class="form-select form-select-sm">
              <option value="" disabled selected>Género</option>
              <option value="Masculino" value="Masculino">Masculino</option>
              <option value="Femenino" value="Femenino">Femenino</option>
              </select>
          </div>
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Email</label>
            <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.email || student.email" name="email" #name="ngModel" class="form-control form-control-sm" placeholder="Email"  required >
          </div>
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Fecha Nacimiento</label>
            <input  id="floatingInput"  type="date" [(ngModel)]="studentService.selectedStudent.dob || student.dob" name="dob" #name="ngModel"class="form-control form-control-sm" placeholder="Año" required  min="1980" max="2023" step="1" value="1980"  >
          </div>
         </div>
         <div class="row">
          <div class="mb-3 col-sm-6">
            <label for="floatingInput">Madre</label>
            <input  id="floatingInput" [(ngModel)]="studentService.selectedStudent.motherName || student.motherName" name="motherName"  #name="ngModel" class="form-control form-control-sm" placeholder="Madre" required >
          </div>
          <div class="mb-3 col-sm-6">
            <label for="floatingInput">Padre</label>
            <input  id="floatingInput" [(ngModel)]="studentService.selectedStudent.fatherName || student.fatherName" name="fatherName"  #name="ngModel" class="form-control form-control-sm" placeholder="Padre" required >
          </div>
         </div>
        <div class="row">
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Telefono</label>
            <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.phoneNumber || student.phoneNumber" name="phoneNumber" #name="ngModel"class="form-control form-control-sm" placeholder="Telefono" required >
          </div>
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Direccion</label>
            <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.address || student.address" name="address" #name="ngModel"class="form-control form-control-sm" placeholder="Direccion" required >
          </div>
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Codigo</label>
            <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.code || student.code" name="code" #name="ngModel"class="form-control form-control-sm" placeholder="code" required >
          </div>
        </div>
        <div class="row">
          <div class=" mb-3 col-sm-4">
            <label for="floatingInput">Link</label>
            <input  id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.userId || student.userId" name="userId" #name="ngModel"class="form-control form-control-sm" placeholder="userId" required >
          </div>
          <div class=" mb-3 col-sm-4">
            <label for="floatingInput">Imagen</label>
            <input id="floatingInput" type="text" [(ngModel)]="studentService.selectedStudent.image || student.image" name="image" #name="ngModel" class="form-control form-control-sm" placeholder="Imagen" required >
          </div>
          <div class="mb-3 col-sm-4">
            <label for="floatingInput">Fecha Creacion</label>
            <input  id="floatingInput"  type="date" [(ngModel)]="studentService.selectedStudent.createdDate || student.createdDate" name="createdDate" #name="ngModel"class="form-control form-control-sm" placeholder="Año" required  min="1980" max="2023" step="1" value="1980"  >
          </div>
        </div>
          <div class="form-group col-auto">
          <button type="submit" class="btn btn-primary mt-3 col order-1 "  routerLinkActive="router-link-active" >Guardar</button>
        </div>
        
        </form>
      </div>
    </div>
  </div>
-->
<div class="col-md-12 container my-3">
<table class="table table-hover">
  <thead >
    <tr >
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Fecha Nacimiento</th>
    <th scope="col">Email</th>
    <th scope="col">Telefono</th>
    <th scope="col">Codigo</th>
    <th scope="col">Genero</th>
    <th scope="col">Fecha creacion</th>
    <th scope="col">User ID</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" >
      <td>{{student.name}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.dob}}</td>
      <td>{{student.email}}</td>
      <td>{{student.phoneNumber}}</td>
      <td>{{student.code}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.createdDate}}</td>
      <td>{{student.userId}}</td>
      <td>
        <a class="btn btn-secondary btn-sm" (click)="editStudent(student)">
          <i class="material-icons">edit</i>
        </a>
      </td>
       <td>
        <a class="btn btn-danger btn-sm" (click)="deleteStudent(student._id)" >
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>


