<div class="row">
  <div class="mx-auto">
    <div class="card border-light mb-3">
      <div class="card-header">
        Agregar area
      </div>
      <div class="card-body">
        <form #studentForm="ngForm" (submit)="create(studentForm)"  action="/score/edit/{{score._id}}" method="POST">
         <div class="row">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="scoreService.selectedScore">
          <div class="mb-3 col-sm-6" >
          <label for="floatingInput">Asignatura</label>
          <input  id="floatingInput" type="text" [(ngModel)]="scoreService.selectedScore.subjectId || score.subjectId" name="subjectId" #name="ngModel" class="form-control form-control-sm" placeholder="Codigo"  required >

        </div>
        <div class="mb-3 col-sm-6">
          <label for="floatingInput">Maestro</label>
          <input  id="floatingInput" type="text" [(ngModel)]="scoreService.selectedScore.teacherId || score.teacherId" name="code" #name="ngModel" class="form-control form-control-sm" placeholder="Maestro"  required >
        </div>
        <div class="mb-3 col-sm-6">
          <label for="floatingInput">Fecha Creacion</label>
          <input  id="floatingInput" type="date" [(ngModel)]="scoreService.selectedScore.createdDate || score.createdDate" name="createArea" #name="ngModel" class="form-control form-control-sm"  required >
        </div>
        <div class="mb-3 col-sm-6">
          <label for="floatingInput">Calificacion</label>
          <input  id="floatingInput" type="number" [(ngModel)]="scoreService.selectedScore.score || score.score" name="score" #name="ngModel" class="form-control form-control-sm" placeholder="Calificacion"  required >
        </div>
        <div class="mb-3 col-sm-6">
          <label for="floatingInput">Usuario</label>
          <input  id="floatingInput" type="text" [(ngModel)]="scoreService.selectedScore.userId || score.userId" name="userId" #name="ngModel" class="form-control form-control-sm" placeholder="Codigo"  required >
        </div>
         </div>
          <div class="form-group col-auto">
          <button type="submit" class="btn btn-primary mt-3 col order-1 "  routerLinkActive="router-link-active" >Guardar</button>
        </div>
        </form>
      </div>
    </div>
  </div>

<div class="col-md-12 container my-3">
<table class="table table-hover">
  <thead >
    <tr >
    <th scope="col">Asignatura</th>
    <th scope="col">Maestro</th>
    <th scope="col">Fecha</th>
    <th scope="col">Calificacion</th>
    <th scope="col">Usuario</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of scores" >
      <td>{{score.subjectId}}</td>
      <td>{{score.teacherId}}</td>
      <td>{{score.createdDate}}</td>
      <td>{{score.score}}</td>
      <td>{{score.userId}}</td>
      <td>
        <a class="btn btn-secondary btn-sm" (click)="edit(score)">
          <i class="material-icons">edit</i>
        </a>
      </td>
       <td>
        <a class="btn btn-danger btn-sm" (click)="delete(score._id)" >
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>


